.homepage__wrapper {
  width: 100vw;
  min-height: 100vh;
  color: rgba(225, 0, 200, 0.7);
  .banner {
    background-image: linear-gradient(rgba(0,0,0,0.8) 70px, rgba(0,0,0,0.3) 70px, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.8) 60%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0.3) 100%), asset-url('tv_tower.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-size: 4.8rem;
      letter-spacing: 0.3rem;
    }
    p {
      font-size: 2.4rem;
    }
  }
  .hero {

    display: flex;
    justify-content: center;
    align-items: top;
    width: 60vw;
    margin: 0 auto;
    .hero-item {
      border-radius: 3px;
      box-shadow: 0 0 5px 5px $main-color-light;
      flex: 1;
      display: flex;
      justify-content: top;
      align-items: center;
      flex-direction: column;
      margin: 5rem;
      height: 40vh;
      padding: 1rem 2rem;
      h2 {
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.2rem;
        margin-top: 2rem;
      }
      i {
        font-size: 3rem;
      }
    }
  }
}
