<div class="homepage__wrapper">
  <div class="banner">
    <h1><%= t :brand_name %></h1>
    <p><%= t :tag_line %></p>
  </div>
  <div class="hero">
    <div class="hero-item">
      <h2>Post</h2>
      <i class="fas fa-edit"></i>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur officia corporis facilis, sequi nostrum dolores iusto mollitia velit vitae fuga autem animi, itaque, accusantium explicabo laudantium, ullam rem perferendis. Ipsa beatae nam eaque, aut molestiae voluptate, consequuntur! Magni non, blanditiis.
      </p>
    </div>
    <div class="hero-item">
      <h2>Connect</h2>
      <i class="fas fa-handshake"></i>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi modi repellendus perferendis nihil iure explicabo blanditiis, id itaque ratione iusto!
      </p>
    </div>
    <div class="hero-item">
      <h2>Enjoy</h2>
      <i class="fas fa-smile"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo voluptatem et, consequatur, placeat quam praesentium consectetur, voluptates possimus atque totam illum. Porro adipisci dolorum impedit quis, reiciendis ex nemo. Eligendi.
      </p>
    </div>
  </div>
</div>
