/* Main navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  transition: all 0.3s ease;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

/* Logo */
.navbar-logo img {
  height: 5rem;
}

/* User Avatar */
.avatar {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  z-index: -1;
}

/* Right section */
.navbar-right {
  text-align: right;
  width: 100%;
  margin-right: 5rem;
}

.navbar-left {
  width: 100%;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 2rem;
}

/* Navbar link */
.navbar-link {
  //color: #616668;
  font-size: 1.4rem;
  color: rgb(220,220,220);
}
.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}

