/* Main navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  transition: all 0.3s ease;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

/* Logo */
.navbar-logo img {
  height: 5rem;
}

/* User Avatar */
.avatar {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  z-index: -1;
}

/* Right section */
.navbar-right {
  text-align: center;
  width: 50%;
  margin-right: 0;
  display: flex;
  justify-content: center;
  .navbar-item {
    flex: 1;
  }
}

.navbar-left {
  width: 50%;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 1rem 2rem;
}

/* Navbar link */
.navbar-link {
  //color: #616668;
  font-size: 1.4rem;
  color: $main-color;
  letter-spacing: 2px;
}
.navbar-link:hover {
  color: $main-color-hover;
  text-decoration: none;
  background: $main-color-light;
}

