/* Main navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  transition: all 0.3s ease;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

/* Logo */
.navbar-logo img {
  height: 5rem;
}


/* Right section */
.navbar-right {
  text-align: center;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  .navbar-item {
    flex: 1;
    cursor: pointer;
    padding: 1rem;
  }
}

/* User Avatar */
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 1;
}

.navbar-left {
  width: 50%;
}

/* Navbar link */
.navbar-link {
  font-size: 1.4rem;
  color: $main-color;
  letter-spacing: 2px;
  &:hover {
    color: $main-color-hover;
    text-decoration: none;
    background: $main-color-light;
  }
}


